<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.wxx.thequeenofspades">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.GameActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Prize64Activity"/>
        <activity android:name=".activity.Prize128Activity"/>
        <activity android:name=".activity.Prize256Activity"/>
        <activity android:name=".activity.Prize512Activity"/>
        <activity android:name=".activity.Prize1024Activity"/>
        <activity android:name=".activity.Prize2048Activity"/>
        <activity android:name=".activity.Prize4096Activity"/>
        <activity android:name=".activity.Prize8192Activity"/>
        <activity android:name=".activity.Prize16384Activity"/>
        <activity android:name=".activity.QuestionActivity">
        </activity>
        <activity android:name=".activity.SelectPrizeActivity">
        </activity>
    </application>

</manifest>